* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.head{
    width: 1440px;
    height: 100px;
    margin: auto;
    position: relative;
    border: hidden;
    background: linear-gradient(115deg, #293462, #513252);
}

.logo a {
    font-size: 45px;
    font-weight: bold;
    float: left;
    position: absolute;
    left: 77px;
    top: 7px;
    font-family: verdana;
    color: #fff;
}

.menu {
    float: right;
    margin-top: 0px;
    padding:  10px 15px 10px 15px;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border:1px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

a.tbl-kuning {
    background: transparent;
    border: 1px solid cyan;
    border-radius: 20px;
    margin-top: 20px;
    padding:  15px 20px 15px 20px;
    color: cyan;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-kuning:hover {
    background: cyan;
    text-decoration: none;
    color: #293462;
}
